<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src='../static/client.js'></script>
    <title>London bridges classifier</title>
</head>
<body>

<div class='jumbotron'>
    <div class='container'>
        <h1 class="display-4">Classify images of London bridges</h1>
        <p>Use images of <span class='font-weight-bolder'>Albert</span> bridge, <span class='font-weight-bolder'>Battersea</span> bridge, or <span class='font-weight-bolder'>Chelsea</span> bridge</p>
        <div class='row'>
            <div class='d-none'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <div class='col-md-2 mt-3 mb-3'>
                <div class=mb-3>
                    <button class='btn btn-primary btn-lg' type='button' onclick='showPicker()'>Select Image</button>
                </div>
                <div id='analyze' class='d-none'>
                    <button id='analyze-button' class='btn btn-secondary' type='button' onclick='analyze()'>Analyze</button>
                </div>
            </div>
            <!-- Hide this section until an image is selected -->
            <div id='image-picked-group' class='d-none'>
                <div>
                    <img id='image-picked' class='img-fluid' alt='Chosen Image' height='200'>
                </div>
                <div class='upload-label'>
                    <label id='upload-label'>No file chosen</label>
                </div>
            </div>
        </div>
        <!-- Hide this section until an image is analysed -->
        <div class='row'>
            <div id='alert' class='d.none' role='alert'>
                <label id='result-label'></label>
            </div>
        </div>
    </div>
</div>
</body>
</html>
